<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <services>
            <configurator type="Sitecore.UpdateCenter.DependencyInjection.CustomServiceConfigurator, Sitecore.UpdateCenter" />
        </services>

        <api>
            <services>
                <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
                    <allowedControllers hint="list:AddController">
                        <allowedController desc="SitecoreUpdateCenterAuthenticationController">Sitecore.UpdateCenter.Controllers.UpdateCenterAuthenticationController, Sitecore.UpdateCenter</allowedController>
                        <allowedController desc="SitecoreUpdateCenterDownloadController">Sitecore.UpdateCenter.Controllers.DownloadController, Sitecore.UpdateCenter</allowedController>
                        <allowedController desc="SitecoreUpdateCenterModuleManagementController">Sitecore.UpdateCenter.Controllers.ModuleManagementController, Sitecore.UpdateCenter</allowedController>
                        <allowedController desc="SitecoreUpdateCenterPackageInstallationController">Sitecore.UpdateCenter.Controllers.PackageInstallationController, Sitecore.UpdateCenter</allowedController>
                        <allowedController desc="SitecoreUpdateCenterPackageManagementController">Sitecore.UpdateCenter.Controllers.PackageManagementController, Sitecore.UpdateCenter</allowedController>
                        <allowedController desc="SitecoreUpdateCenterUpdateModeController">Sitecore.UpdateCenter.Controllers.UpdateModeController, Sitecore.UpdateCenter</allowedController>
                        <allowedController desc="SitecoreUpdateCenterUploadController">Sitecore.UpdateCenter.Controllers.UploadController, Sitecore.UpdateCenter</allowedController>
                    </allowedControllers>
                </configuration>
            </services>
        </api>
    </sitecore>
</configuration>