<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
    <sitecore>
        <!-- TASK DATABASE -->
        <TaskDatabase type="Sitecore.Data.$(database).$(database)TaskDatabase, Sitecore.Kernel">
            <param connectionStringName="core" />
            <param connectionStringName="core" role:require="ContentDelivery">
                <patch:attribute name="connectionStringName">web</patch:attribute>
            </param>
        </TaskDatabase>
    </sitecore>
</configuration>