<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file configures the item serialization subsystem in Sitecore.

-->
<configuration xmlns:serialization="http://www.sitecore.net/xmlconfig/serialization/">
    <sitecore>
        <predicate>
            <!--
            NOTE: These setting are only required when the 'Serialization.SerializationType' setting is set to YAML.
            These settings define which roots should be serialized.
            Each include must contain the name, the database of the tree to serialize, and the path of the parent item of the tree to serialize.
            To enable YAML item serialization, at least one root must be defined. The defined roots must not intersect with each other.
            -->
            <include name="master" database="master" path="/sitecore" />
            <include name="core" database="core" path="/sitecore" />
        </predicate>
    </sitecore>
</configuration>