<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
    <sitecore>

        <!-- CLIENT DATASTORE -->
        <clientDataStore type="Sitecore.Data.$(database).$(database)ClientDataStore, Sitecore.Kernel">
            <param desc="connection string name" connectionStringName="master" />
            <param desc="connection string name" role:require="ContentDelivery">
                <patch:attribute name="connectionStringName">web</patch:attribute>
            </param>
            <param desc="object lifetime">00:20:00</param>
            <param desc="event queue" ref="eventing/eventQueueProvider/eventQueue[@name='core']" role:require="(Standalone or Processing or Reporting) and !ContentManagement and !ContentDelivery" />
            <param desc="event queue" ref="eventing/eventQueueProvider/eventQueue[@name='web']" role:require="ContentManagement or ContentDelivery" />
            <param desc="eventManager" resolve="true" type="Sitecore.Abstractions.BaseEventManager, Sitecore.Kernel" />
        </clientDataStore>
    </sitecore>
</configuration>