<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
    <sitecore>
        <settings>
            <!--  PROFILE ITEM DATABASE
            Specifies the database where user profile items are stored (at the following path:
            /sitecore/system/Settings/Security/Profiles)
            Default value: core
      -->
            <setting name="ProfileItemDatabase" value="core" />
        </settings>
    </sitecore>
</configuration>