<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include the configuration of authentication and authorization.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
    <sitecore>
        <!-- AUTHENTICATION -->
        <authentication defaultProvider="forms">
            <providers>
                <clear/>
                <add name="forms" type="Sitecore.Security.Authentication.FormsAuthenticationProvider, Sitecore.Kernel" security:require="Sitecore"/>
                <add name="disabled" type="Sitecore.Security.Authentication.DisabledAuthenticationProvider, Sitecore.Kernel" />
            </providers>
        </authentication>
        <authentication security:require="None">
            <patch:attribute name="defaultProvider">disabled</patch:attribute>
        </authentication>

        <httpAuthentication defaultProvider="Digest">
            <providers>
                <clear/>
                <add name="Basic" type="Sitecore.Security.Authentication.BasicHttpAuthenticationProvider, Sitecore.Kernel">
                    <Realm>sitecore</Realm>
                </add>
                <add name="Digest" type="Sitecore.Security.Authentication.DigestHttpAuthenticationProvider, Sitecore.Kernel">
                    <Realm>sitecore</Realm>
                </add>
            </providers>
        </httpAuthentication>
        <!-- USERS -->
        <userManager defaultProvider="default" enabled="true">
            <providers>
                <clear/>
                <add name="default" type="Sitecore.Security.Accounts.UserProvider, Sitecore.Kernel"  security:require="Sitecore"/>
                <add name="disabled" type="Sitecore.Security.Accounts.DisabledUserProvider, Sitecore.Kernel" />
            </providers>
        </userManager>
        <userManager security:require="None">
            <patch:attribute name="defaultProvider">disabled</patch:attribute>
        </userManager>
        <!-- ROLES -->
        <rolesInRolesManager defaultProvider="sql" enabled="true">
            <providers>
                <clear/>
                <add name="sql" type="Sitecore.Security.Accounts.SqlServerRolesInRolesProvider, Sitecore.Kernel" connectionStringName="security" rolesInRolesSupported="true" globalRolesConfigStoreName="globalRoles" raiseEvents="true"  security:require="Sitecore"/>
                <add name="disabled" type="Sitecore.Security.Accounts.DisabledRolesInRolesProvider, Sitecore.Kernel"  />
            </providers>
        </rolesInRolesManager>
        <rolesInRolesManager security:require="None">
            <patch:attribute name="defaultProvider">disabled</patch:attribute>
        </rolesInRolesManager>
        <!-- AUTHORIZATION -->
        <authorization defaultProvider="sql">
            <providers>
                <clear/>
                <add name="sql" type="Sitecore.Security.AccessControl.SqlServerAuthorizationProvider, Sitecore.Kernel" connectionStringName="security" embedAclInItems="true" security:require="Sitecore"/>
                <add name="disabled" type="Sitecore.Security.AccessControl.DisabledAuthorizationProvider, Sitecore.Kernel" />
            </providers>
        </authorization>
        <authorization security:require="None">
            <patch:attribute name="defaultProvider">disabled</patch:attribute>
        </authorization>
        <!--
      ACCESS RIGHTS
      Example of a <rights> element using a custom type (which must derive from AccessRight):
      <add name="my:access" comment="Custom right." title="Custom" type="My.Security.MyAccessRight, My.Assembly"/>

      Example of a <rules> element using a custom type (which must derive from AcessRightRule):
      <add prefix="my:" typeName="My.MyEntity" type="My.MyAcessRightRule, My.Assembly"/>
      -->
        <accessRights defaultProvider="config">
            <providers>
                <clear/>
                <add name="config" type="Sitecore.Security.AccessControl.ConfigAccessRightProvider, Sitecore.Kernel" configRoot="accessRights"/>
            </providers>
            <rights defaultType="Sitecore.Security.AccessControl.AccessRight, Sitecore.Kernel">
                <add name="field:read" comment="Read right for fields." title="Field Read"/>
                <add name="field:write" comment="Write right for fields." title="Field Write" modifiesData="true"/>
                <add name="item:read" comment="Read right for items." title="Read"/>
                <add name="item:write" comment="Write right for items." title="Write" modifiesData="true"/>
                <add name="item:rename" comment="Rename right for items." title="Rename" modifiesData="true"/>
                <add name="item:create" comment="Create right for items." title="Create" modifiesData="true"/>
                <add name="item:delete" comment="Delete right for items." title="Delete" modifiesData="true"/>
                <add name="item:admin" comment="Admin right for items." title="Administer" modifiesData="true"/>
                <add name="language:read" comment="Read right for languages." title="Language Read"/>
                <add name="language:write" comment="Write right for languages." title="Language Write" modifiesData="true"/>
                <add name="site:enter" comment="The right to enter a site." title="Site Enter"/>
                <add name="insert:show" comment="Determines if the user can see the insert option" title="Show in Insert"/>
                <add name="workflowState:delete" comment="The right to delete an item based on its workflow state." title="Workflow State Delete"/>
                <add name="workflowState:write" comment="The right to write an item based on its workflow state." title="Workflow State Write" modifiesData="true"/>
                <add name="workflowCommand:execute" comment="The right to execute a workflow command." title="Workflow Command Execute"/>
                <add name="profile:customize" comment="The right to input out of range values of profile keys, that belong to this profile." title="Customize Profile Key Values"/>
                <add name="*" comment="Wildcard right. For internal use only."/>
            </rights>
            <rules>
                <add prefix="field:" ancestor="{3C1715FE-6A13-4FCF-845F-DE308BA9741D}" comment="/sitecore/templates" typeName="Sitecore.Data.Fields.Field" />
                <add prefix="insert:" templateId="{35E75C72-4985-4E09-88C3-0EAC6CD1E64F}" comment="insert:show for Branch template"/>
                <add prefix="insert:" templateId="{B2613CC1-A748-46A3-A0DB-3774574BD339}" comment="insert:show for Command template"/>
                <add prefix="insert:" templateId="{AB86861A-6030-46C5-B394-E8F99E8B87DB}" comment="insert:show for Template template"/>
                <add prefix="item:" typeName="Sitecore.Data.Items.Item"/>
                <add prefix="language:" ancestor="{64C4F646-A3FA-4205-B98E-4DE2C609B60F}" comment="/sitecore/system/language"/>
                <add prefix="workflowState:" ancestor="{05592656-56D7-4D85-AACF-30919EE494F9}" comment="/sitecore/system/workflows"/>
                <add prefix="workflowCommand:" ancestor="{05592656-56D7-4D85-AACF-30919EE494F9}" comment="/sitecore/system/workflows"/>
                <add prefix="profile:" templateId="{8E0C1738-3591-4C60-8151-54ABCC9807D1}" comment="profile:customize for Profile items only"/>
            </rules>
        </accessRights>
    </sitecore>
</configuration>