<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
  xmlns:role="http://www.sitecore.net/xmlconfig/role/" 
  xmlns:security="http://www.sitecore.net/xmlconfig/security/">
  <sitecore>
    <databases>
      <!-- core -->
      <database id="core" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" role:require="!ContentDelivery">
        <param desc="name">$(id)</param>
        <connectionStringName>$(id)</connectionStringName>
        <icon>Images/database_core.png</icon>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" param1="$(id)">
            <prefetch role:require="ContentManagement or Standalone" hint="raw:AddPrefetch">
              <sc.include file="/App_Config/Prefetch/Common.config" />
              <sc.include file="/App_Config/Prefetch/Core.config" />
            </prefetch>
          </dataProvider>
        </dataProviders>
        <PropertyStore ref="PropertyStoreProvider/store[@name='$(id)']" />
        <remoteEvents.EventQueue>
          <obj ref="eventing/eventQueueProvider/eventQueue[@name='$(id)']" />
        </remoteEvents.EventQueue>
        <workflowProvider hint="defer" type="Sitecore.Workflows.Simple.WorkflowProvider, Sitecore.Kernel">
          <param desc="database">$(id)</param>
          <param desc="history store" ref="workflowHistoryStores/main" param1="$(id)" />
        </workflowProvider>
        <archives hint="raw:AddArchive">
          <archive name="archive" />
          <archive name="recyclebin" />
        </archives>
        <cacheSizes hint="setting">
          <data>100MB</data>
          <items>50MB</items>
          <paths>2500KB</paths>
          <itempaths>50MB</itempaths>
          <standardValues>2500KB</standardValues>
        </cacheSizes>
        <NotificationProvider type="Sitecore.Data.DataProviders.$(database).$(database)NotificationProvider, Sitecore.Kernel">
          <param connectionStringName="$(id)">
          </param>
          <param desc="databaseName">$(id)</param>
        </NotificationProvider>
        <BlobStorage hint="raw:AddBlobStorage">
          <providers default="classic">
            <provider name="classic" type="Sitecore.Data.Blobs.ClassicSqlBlobProvider, Sitecore.Kernel">
              <param desc="databaseName">$(id)</param>
            </provider>
          </providers>
        </BlobStorage>
      </database>
    </databases>
  </sitecore>
</configuration>