<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
    <sitecore>
        <eventing defaultProvider="sitecore">
            <providers>
                <clear/>
                <!--
                    Default event provider (uses event queues provided by Sitecore databases).
                    General attributes:
                        name: Name of the provider.
                        type: Assembly qualified type name of the class implementing the provider.
                    Event provider attributes:
                        systemDatabaseName: Deprecated. Name of the database which will hold the system event queue. 
                    System event queue receives all the events that are not related to a specific database.
                -->
                <add name="sitecore" type="Sitecore.Eventing.EventProvider, Sitecore.Kernel" systemDatabaseName="core"/>
                <add name="sitecore" role:require="ContentManagement or ContentDelivery">
                    <patch:attribute name="systemDatabaseName">web</patch:attribute>
                </add>
            </providers>

            <!-- EVENT QUEUE -->
            <eventQueueProvider defaultEventQueue="core">
                <eventQueue name="web" type="Sitecore.Data.Eventing.$(database)EventQueue, Sitecore.Kernel">
                    <param ref="dataApis/dataApi[@name='$(database)']" param1="$(name)" />
                    <param ref="PropertyStoreProvider/store[@name='$(name)']" />
                </eventQueue>
                <eventQueue name="master" type="Sitecore.Data.Eventing.$(database)EventQueue, Sitecore.Kernel" role:require="!ContentDelivery">
                    <param ref="dataApis/dataApi[@name='$(database)']" param1="$(name)" />
                    <param hint="" ref="PropertyStoreProvider/store[@name='$(name)']" />
                </eventQueue>
                <eventQueue name="core" type="Sitecore.Data.Eventing.$(database)EventQueue, Sitecore.Kernel" role:require="!ContentDelivery">
                    <param ref="dataApis/dataApi[@name='$(database)']" param1="$(name)" />
                    <param ref="PropertyStoreProvider/store[@name='$(name)']" />
                </eventQueue>
            </eventQueueProvider>
            <eventQueueProvider role:require="ContentManagement or ContentDelivery">
                <patch:attribute name="defaultEventQueue">web</patch:attribute>
            </eventQueueProvider>
        </eventing>


        <pipelines>
            <initialize>
                <processor type="Sitecore.Eventing.Remote.RemoteEventMap, Sitecore.Kernel" method="InitializeFromPipeline" patch:after="processor[@type='Sitecore.Pipelines.Loader.RegisterjQuery, Sitecore.Kernel']">
                    <param desc="eventQueue" ref="eventing/eventQueueProvider/eventQueue[@name='core']" role:require="(Standalone or Reporting or Processing) and !ContentManagement and !ContentDelivery" />
                    <param desc="eventQueue" ref="eventing/eventQueueProvider/eventQueue[@name='web']" role:require="ContentManagement or ContentDelivery" />
                </processor>
            </initialize>
        </pipelines>
    </sitecore>
</configuration>