<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

        <services>
            <configurator type="Sitecore.Messaging.RebusConfigurator, Sitecore.Messaging" />

            <register
                serviceType="Sitecore.Messaging.IMessageBusStarter, Sitecore.Messaging"
                implementationType="Sitecore.Messaging.MessageBusStarter, Sitecore.Messaging"
                lifetime="Singleton" />
            
        </services>

        <pipelines>
            <initialize>
                <!-- Attempts to start all configured buses, in the background.  Yields the events listed below. -->
                <processor type="Sitecore.Messaging.InitializeBuses, Sitecore.Messaging" resolve="true" />
            </initialize>
        </pipelines>

        <events>
            <!-- Raised when each message bus has been started, whether it succeeded or failed. -->
            <event name="messaging:businitialized">
            </event>

            <!-- Raised when all message buses have been started (whether any failed or not). -->
            <event name="messaging:allBusesInitialized">
            </event>
        </events>

        <Messaging>
            <Rebus>
                <!-- Configure named Rebus Message Buses here -->

            </Rebus>
        </Messaging>
    </sitecore>
</configuration>