
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CityList</title>
</head>
<body>
    <div>
        @foreach(var c in cityNames )
        {

        }
    </div>
</body>
</html>
