<?xml version="1.0" encoding="utf-8"?>

<!--

This file configures the Sitecore Marketing Automation messaging features in SQL Server.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:messagingTransport="http://www.sitecore.net/xmlconfig/messagingTransport/">
  <sitecore role:require="Standalone or ContentManagement" messagingTransport:require="SQL">
    <Messaging>
      <Rebus>
        <Sitecore.Marketing.Automation.Messaging.Buses.PurgeFromCampaignMessagesBus>
          <Transport>
            <SqlServer>
              <OneWay>false</OneWay>
              <ConnectionStringOrName>messaging</ConnectionStringOrName>
              <InputQueueName>Sitecore_MA_PurgeFromCampaignMessages</InputQueueName>
            </SqlServer>
          </Transport>
          <Routing>
            <TypeBasedMappings>
              <TypeMappings>
                <PurgeFromCampaignMessageMapping>
                  <Type>Sitecore.Marketing.Automation.Messaging.Messages.PurgeFromCampaignMessage, Sitecore.Marketing.Automation</Type>
                  <DestinationQueue>Sitecore_MA_PurgeFromCampaignMessages</DestinationQueue>
                  </PurgeFromCampaignMessageMapping>
                </TypeMappings>
              </TypeBasedMappings>
            </Routing>
            <Options>
              <SetNumberOfWorkers>1</SetNumberOfWorkers>
              <SetMaxParallelism>5</SetMaxParallelism>
              <SimpleRetryStrategy>
                <ErrorQueueAddress>Error</ErrorQueueAddress>
                <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
              </SimpleRetryStrategy>
            </Options>
            <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory, Sitecore.Messaging" />
          </Sitecore.Marketing.Automation.Messaging.Buses.PurgeFromCampaignMessagesBus>
        </Rebus>
      </Messaging>
    </sitecore>
</configuration>