<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentManagement" search:require="Azure">
        <contentSearch>
            <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
                <indexes>
                    <index id="sitecore_master_index" type="Sitecore.ContentSearch.Azure.CloudSearchProviderIndex, Sitecore.ContentSearch.Azure">
                        <configuration ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration">
                            <documentOptions ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration/documentOptions">
                                <include hint="list:AddIncludedField">
                                    <fieldId>{558F9307-EBAF-480D-88B5-DFE9E63A66DE}</fieldId>
                                </include>
                            </documentOptions>
                        </configuration>
                    </index>
                </indexes>
            </configuration>
        </contentSearch>
    </sitecore>
</configuration>