<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
        <services>
            <register serviceType="Sitecore.ExperienceForms.Analytics.Tracking.IAnalyticsTrackerResolver, Sitecore.ExperienceForms.Analytics" implementationType="Sitecore.ExperienceForms.Analytics.Tracking.AnalyticsTrackerResolver, Sitecore.ExperienceForms.Analytics" lifetime="Transient" />
            <register serviceType="Sitecore.ExperienceForms.Tracking.IFormEventsTracker, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Analytics.Tracking.FormEventsTracker, Sitecore.ExperienceForms.Analytics" lifetime="Transient"/>
            <register patch:instead="*[@serviceType='Sitecore.ExperienceForms.Tracking.IFormEventsTracker, Sitecore.ExperienceForms']" serviceType="Sitecore.ExperienceForms.SubmitActions.IAnalyticsTracker, Sitecore.ExperienceForms.SubmitActions" implementationType="Sitecore.ExperienceForms.SubmitActions.AnalyticsTracker, Sitecore.ExperienceForms.SubmitActions" lifetime="Transient" />
        </services>
    </sitecore>
</configuration>