<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <services>
            <register serviceType="Sitecore.ExperienceForms.Analytics.Reporting.IReportDataProviderFactory, Sitecore.ExperienceForms.Analytics" implementationType="Sitecore.ExperienceForms.Analytics.Reporting.ReportDataProviderFactory, Sitecore.ExperienceForms.Analytics" />
            <register serviceType="Sitecore.ExperienceForms.Analytics.Reporting.IReportingQueryFactory, Sitecore.ExperienceForms.Analytics" implementationType="Sitecore.ExperienceForms.Analytics.Reporting.ReportingQueryFactory, Sitecore.ExperienceForms.Analytics" />
            <register patch:instead="*[@serviceType='Sitecore.ExperienceForms.Reporting.IFormStatisticsProvider, Sitecore.ExperienceForms']" serviceType="Sitecore.ExperienceForms.Reporting.IFormStatisticsProvider, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Analytics.Reporting.FormStatisticsProvider, Sitecore.ExperienceForms.Analytics"/>
        </services>
    </sitecore>
</configuration>