<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <api>
            <services>
                <configuration>
                    <allowedControllers hint="list:AddController">
                        <allowedController desc="SubmitActionsController">Sitecore.ExperienceForms.Client.Controllers.SubmitActionsController, Sitecore.ExperienceForms.Client</allowedController>
                        <allowedController desc="ReportsController">Sitecore.ExperienceForms.Client.Controllers.ReportsController, Sitecore.ExperienceForms.Client</allowedController>
                        <allowedController desc="FormDesignController">Sitecore.ExperienceForms.Client.Controllers.FormDesignController, Sitecore.ExperienceForms.Client</allowedController>
                        <allowedController desc="ExportDataController">Sitecore.ExperienceForms.Client.Controllers.ExportDataController, Sitecore.ExperienceForms.Client</allowedController>
                        <allowedController desc="PublishFormController">Sitecore.ExperienceForms.Client.Controllers.PublishFormController, Sitecore.ExperienceForms.Client</allowedController>
                        <allowedController desc="FormDataController">Sitecore.ExperienceForms.Client.Controllers.FormDataController, Sitecore.ExperienceForms.Client</allowedController>
                    </allowedControllers>
                </configuration>
            </services>
        </api>
        <services>
            <register serviceType="Sitecore.ExperienceForms.Client.Controllers.FormFieldController, Sitecore.ExperienceForms.Client" implementationType="Sitecore.ExperienceForms.Client.Controllers.FormFieldController, Sitecore.ExperienceForms.Client" />
            <register serviceType="Sitecore.ExperienceForms.Client.Controllers.SubmitActionsController, Sitecore.ExperienceForms.Client" implementationType="Sitecore.ExperienceForms.Client.Controllers.SubmitActionsController, Sitecore.ExperienceForms.Client" />
            <register serviceType="Sitecore.ExperienceForms.Client.Controllers.ReportsController, Sitecore.ExperienceForms.Client" implementationType="Sitecore.ExperienceForms.Client.Controllers.ReportsController, Sitecore.ExperienceForms.Client" />
            <register serviceType="Sitecore.ExperienceForms.Client.Controllers.ExportDataController, Sitecore.ExperienceForms.Client" implementationType="Sitecore.ExperienceForms.Client.Controllers.ExportDataController, Sitecore.ExperienceForms.Client" />
            <register serviceType="Sitecore.ExperienceForms.Client.Controllers.FormDataController, Sitecore.ExperienceForms.Client" implementationType="Sitecore.ExperienceForms.Client.Controllers.FormDataController, Sitecore.ExperienceForms.Client" />
            <register serviceType="Sitecore.ExperienceForms.Client.Controllers.PublishFormController, Sitecore.ExperienceForms.Client" implementationType="Sitecore.ExperienceForms.Client.Controllers.PublishFormController, Sitecore.ExperienceForms.Client" />
            <register serviceType="Sitecore.ExperienceForms.Client.DataSource.IListDataSourceDefinitionProvider, Sitecore.ExperienceForms.Client" implementationType="Sitecore.ExperienceForms.Client.DataSource.ListDataSourceDefinitionProvider, Sitecore.ExperienceForms.Client" />
            <register serviceType="Sitecore.ExperienceForms.Data.IExportDataProvider, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Client.Data.CsvExportProvider, Sitecore.ExperienceForms.Client" />
            <register serviceType="Sitecore.ExperienceForms.Publishing.IPublishItemService, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Client.Data.PublishItemService, Sitecore.ExperienceForms.Client" />
            <register serviceType="Sitecore.ExperienceForms.Publishing.IPublishFormService, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Client.Data.PublishFormService, Sitecore.ExperienceForms.Client" />
            <register serviceType="Sitecore.ExperienceForms.Mvc.Pipelines.IFormBuilderContext, Sitecore.ExperienceForms.Mvc" implementationType="Sitecore.ExperienceForms.Mvc.Pipelines.FormBuilderContext, Sitecore.ExperienceForms.Mvc" lifetime="Singleton" />
            <register serviceType="Sitecore.ExperienceForms.Reporting.IFormStatisticsProvider, Sitecore.ExperienceForms" implementationType="Sitecore.ExperienceForms.Reporting.FormStatisticsProvider, Sitecore.ExperienceForms" />
        </services>
        <pipelines>
            <initialize>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.Initialize.InitializeRoutes, Sitecore.ExperienceForms.Client" />
            </initialize>
            <speak.client.resolveScript>
                <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
                    <sources hint="raw:AddSource">
                        <source folder="/sitecore/shell/client/Applications/FormsBuilder" deep="true" category="formsbuilder" pattern="*.js,*.css" />
                        <source folder="/sitecore/shell/client/Applications/FormsBuilder" deep="true" category="components" pattern="*.js,*.css" />
                    </sources>
                </processor>
            </speak.client.resolveScript>
            <forms.renderForm>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.RenderForm.SetDataAttributes, Sitecore.ExperienceForms.Client" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.SetFormParameters, Sitecore.ExperienceForms.Mvc']" />
            </forms.renderForm>
            <forms.renderFields>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.RenderFields.SetContainerAttributes, Sitecore.ExperienceForms.Client" patch:before="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderFields.RenderChildFields, Sitecore.ExperienceForms.Mvc']" />
            </forms.renderFields>
            <forms.renderField>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.RenderField.SetContainerAttributes, Sitecore.ExperienceForms.Client" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderField.ResolveModel, Sitecore.ExperienceForms.Mvc']" />
            </forms.renderField>
            <forms.getModel>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetModel.GetStandardValues, Sitecore.ExperienceForms.Client" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.GetModel.GetItem, Sitecore.ExperienceForms.Mvc']"/>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetModel.SetItemName, Sitecore.ExperienceForms.Client" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.GetModel.CreateItem, Sitecore.ExperienceForms.Mvc']"/>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetModel.SetItemId, Sitecore.ExperienceForms.Client" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.GetModel.CreateItem, Sitecore.ExperienceForms.Mvc']"/>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetModel.SetFieldTypeItemId, Sitecore.ExperienceForms.Client" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.GetModel.CreateItem, Sitecore.ExperienceForms.Mvc']"/>
            </forms.getModel>
            <forms.saveForm>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.SaveForm.CreateModels, Sitecore.ExperienceForms.Client" resolve="true" />
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.SaveForm.GenerateNames, Sitecore.ExperienceForms.Client">
                    <defaultItemName>Form Item</defaultItemName>
                </processor>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.SaveForm.CheckAccessRights, Sitecore.ExperienceForms.Client" resolve="true" />
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.SaveForm.UpdateItems, Sitecore.ExperienceForms.Client" resolve="true" />
            </forms.saveForm>
            <forms.deleteForms>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.DeleteForms.GetFormData, Sitecore.ExperienceForms.Client" />
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.DeleteForms.DeleteItems, Sitecore.ExperienceForms.Client" />
            </forms.deleteForms>
            <forms.renameForm>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.RenameForm.GetFormItem, Sitecore.ExperienceForms.Client" />
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.RenameForm.Rename, Sitecore.ExperienceForms.Client" resolve="true" />
            </forms.renameForm>
            <forms.formDetails>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.FormDetails.GetFormDetails, Sitecore.ExperienceForms.Client" />
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.FormDetails.CollectFormUsage, Sitecore.ExperienceForms.Client" />
            </forms.formDetails>
            <forms.getLanguages>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetLanguages.GetItemLanguages, Sitecore.ExperienceForms.Client" />
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetLanguages.FilterAllowedLanguages, Sitecore.ExperienceForms.Client" />
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetLanguages.GetLanguageData, Sitecore.ExperienceForms.Client" />
            </forms.getLanguages>
            <forms.removeFormVersion>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.RemoveFormVersion.GetFormVersion, Sitecore.ExperienceForms.Client" />
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.RemoveFormVersion.RemoveVersion, Sitecore.ExperienceForms.Client" />
            </forms.removeFormVersion>
            <forms.moveForm>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.MoveForm.GetData, Sitecore.ExperienceForms.Client" />
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.MoveForm.MoveItem, Sitecore.ExperienceForms.Client" />
            </forms.moveForm>
            <forms.getFormFields>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetFormFields.GetFieldList, Sitecore.ExperienceForms.Client" />
            </forms.getFormFields>
            <forms.getImportantNotes>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetImportantNotes.GetFormItem"/>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetImportantNotes.CheckFormIsEditable"/>
            </forms.getImportantNotes>
            <forms.getPublishingTargets>
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetPublishingTargets.GetPublishingTargets, Sitecore.ExperienceForms.Client" />
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetPublishingTargets.FilterAllowedPublishingTargets, Sitecore.ExperienceForms.Client" />
                <processor type="Sitecore.ExperienceForms.Client.Pipelines.GetPublishingTargets.GetPublishingTargetsData, Sitecore.ExperienceForms.Client" />
            </forms.getPublishingTargets>
        </pipelines>
    </sitecore>
</configuration>
