<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include file needs to be enabled in Content Management Environment.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore>
    <settings>
      <!-- EXPERIENCE ANALYTICS - API - Cut Off Date
           Used to identify the date when the maxmind db upgrade happened, which also can be the date when the sitecore instance has been upgraded from 8.x to 9.x.           
           Date format should be ("dd-MMM-yyyy") ex. "11-Dec-2018"
           Default value: ""
        -->
      <setting name="ExperienceAnalytics.Api.CutOffDate" value="" />
    </settings>
  </sitecore>
</configuration>