<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
 <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <contentSearch>
      <indexConfigurations>
        <!-- INDEXING STRATEGIES 
           Here is a list of the different indexing strategies that you can use. You can also combine these strategies to achieve what you want.
        -->
        <indexUpdateStrategies>

          <!-- INTERVAL BASED INDEX REBUILD STRATEGY FOR CORE DATABASE
             This strategy uses an interval based trigger and the EventQueue from the predefined 'core' database to incrementally rebuild the index. 
          -->
          <intervalAsyncCore type="Sitecore.ContentSearch.Maintenance.Strategies.IntervalAsynchronousStrategy, Sitecore.ContentSearch">
            <param desc="database">core</param>
            <param desc="interval">00:01:00</param>
            <!-- Whether or not a full index rebuild should be triggered when the number of items in the EventQueue exceeds the number specified 
               in ContentSearch.FullRebuildItemCountThreshold. -->
            <CheckForThreshold>true</CheckForThreshold>
          </intervalAsyncCore>
        </indexUpdateStrategies>

        <databasePropertyStore type="Sitecore.ContentSearch.Maintenance.IndexDatabasePropertyStore, Sitecore.ContentSearch">
          <Database role:require="!ContentDelivery" patch:instead="Database">core</Database>
        </databasePropertyStore>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
