<?xml version="1.0" encoding="utf-8" ?>
<!--This is to patch the exclude lis of heartbeatConfiguration-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <heartbeatConfiguration type="Sitecore.Services.HeartbeatConfiguration, Sitecore.Kernel">
      <exclude hint="list:AddExcludedConnection">
       <connectionStringName desc="This is and URI format for connecting to Solr server.">solr.search</connectionStringName> 
      </exclude>
    </heartbeatConfiguration>
  </sitecore>
</configuration>
