<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Sitecore.TransientFaultHandling.TransientFaultHandlingConfigurator, Sitecore.TransientFaultHandling" />
    </services>
    <TransientFaultHandling>
      <Retryers>
        <NoRetry>
          <Type>Sitecore.Framework.TransientFaultHandling.NoRetryerFactory, Sitecore.Framework.TransientFaultHandling.Abstractions</Type>
        </NoRetry>
        <!-- Patch in retryer configurations here. -->
      </Retryers>
    </TransientFaultHandling>
  </sitecore>
</configuration>
