<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <services>
            <register serviceType="Sitecore.Reporting.Service.Abstractions.IReadonlyReportingContext, Sitecore.Reporting.Service.Abstractions"
                      implementationType="Sitecore.Reporting.Service.Http.Abstractions.ReportingHttpReader, Sitecore.Reporting.Service.Http.Abstractions"
                      lifetime="Scoped"/>

            <register serviceType="Sitecore.Reporting.Service.Abstractions.IReportingContext, Sitecore.Reporting.Service.Abstractions"
                      implementationType="Sitecore.Reporting.Service.Http.Abstractions.ReportingHttpReaderWriter, Sitecore.Reporting.Service.Http.Abstractions"
                      lifetime="Scoped"/>

            <register serviceType="Sitecore.Reporting.Service.Http.Abstractions.IHttpRequestUriBuilder, Sitecore.Reporting.Service.Http.Abstractions"
                      implementationType="Sitecore.Reporting.Service.Http.Abstractions.HttpRequestUriBuilder, Sitecore.Reporting.Service.Http.Abstractions"
                      lifetime="Scoped"/>

            <register serviceType="Sitecore.Reporting.Service.Http.Abstractions.IReportingHttpClient, Sitecore.Reporting.Service.Http.Abstractions"
                      implementationType="Sitecore.Reporting.Service.Http.Abstractions.XdbReportingWebClient, Sitecore.Reporting.Service.Http.Abstractions"
                      lifetime="Singleton"/>
        </services>
    </sitecore>
</configuration>