<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <services>
            <register serviceType="Sitecore.Reporting.Service.Http.Abstractions.IHttpClientFactory, Sitecore.Reporting.Service.Http.Abstractions"
                      implementationType="Sitecore.Reporting.Service.Http.XConnectClient.HttpClientFactory, Sitecore.Reporting.Service.Http.XConnectClient"
                      lifetime="Singleton"/>
        </services>
    </sitecore>
</configuration>