<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <services>
            <register serviceType="Sitecore.Reporting.Core.Services.Hashing.IKeyHasher, Sitecore.Reporting.Core"
                      implementationType="Sitecore.Reporting.Core.Services.Hashing.KeyHasher, Sitecore.Reporting.Core"
                      lifetime="Singleton"/>

            <register serviceType="Sitecore.Reporting.Core.Services.Caching.ICacheManager, Sitecore.Reporting.Core"
                      implementationType="Sitecore.Reporting.Core.Services.Caching.CacheManager, Sitecore.Reporting.Core"
                      lifetime="Singleton"/>

            <register serviceType="Sitecore.Reporting.Core.Services.IConnectionStringResolver, Sitecore.Reporting.Core"
                      implementationType="Sitecore.Reporting.Core.Services.ConnectionStringResolver, Sitecore.Reporting.Core"
                      lifetime="Singleton"/>

          <register serviceType="Sitecore.Reporting.Core.Services.IAppSettingResolver, Sitecore.Reporting.Core"
                    implementationType="Sitecore.Reporting.Core.Services.AppSettingResolver, Sitecore.Reporting.Core"
                    lifetime="Singleton"/>
        </services>
    </sitecore>
</configuration>