<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file configures the SQL Server data provider for the Reference Data Service.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Processing">
    <xdb.referenceData.sql>
      <sqlDataProvider type="Sitecore.Xdb.ReferenceData.SqlServer.SqlServerReferenceDataProvider, Sitecore.Xdb.ReferenceData.SqlServer">
        <!-- connectionStringOrName: The connection string or a name of the connection string used to connect to the SQL server. (default: xdb.referencedata) -->
        <param name="connectionStringOrName">xdb.referencedata</param>
        <param name="logger"
               type="Microsoft.Extensions.Logging.ILogger`1[[Sitecore.Xdb.ReferenceData.SqlServer.SqlServerReferenceDataProvider, Sitecore.Xdb.ReferenceData.SqlServer]], Microsoft.Extensions.Logging.Abstractions"
               resolve="true"/>
        <param name="retryerRegistry"
               type="Sitecore.Framework.TransientFaultHandling.IRetryerRegistry, Sitecore.Framework.TransientFaultHandling.Abstractions"
               resolve="true"/>
        <param name="retryerName">Sitecore.Xdb.ReferenceData.SqlServer.Retryer</param>
      </sqlDataProvider>
    </xdb.referenceData.sql>
    <services>
      <configurator
        type="Sitecore.Xdb.ReferenceData.SqlServer.Xmgmt.Configuration.SqlServerReferenceDataProviderConfigurator, Sitecore.Xdb.ReferenceData.SqlServer.Xmgmt" />
    </services>
    <TransientFaultHandling>
      <Retryers>
        <!--Retryer for Sql operations.-->
        <Sitecore.Xdb.ReferenceData.SqlServer.Retryer>
          <Type>Sitecore.Framework.TransientFaultHandling.Sql.DefaultSqlPolicyRetryerFactory, Sitecore.Framework.TransientFaultHandling.Sql</Type>
          <Options>
            <ExponentialRetry>
              <MaxAttempts>10</MaxAttempts>
              <MinBackoff>00:00:01</MinBackoff>
              <MaxBackoff>00:00:30</MaxBackoff>
              <DeltaBackoff>00:00:10</DeltaBackoff>
            </ExponentialRetry>
          </Options>
        </Sitecore.Xdb.ReferenceData.SqlServer.Retryer>
      </Retryers>
    </TransientFaultHandling>
  </sitecore>
</configuration>
