<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the device detection rules component.

-->
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or Processing">
    <services>
      <register
        serviceType="Sitecore.CES.DeviceDetection.Rules.IRuleDeviceInformationManager, Sitecore.CES.DeviceDetection.Rules"
        implementationType="Sitecore.CES.DeviceDetection.Rules.RuleDeviceInformationManager, Sitecore.CES.DeviceDetection.Rules"
        lifetime="Singleton" />
    </services>
  </sitecore>
</configuration>
