<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This file configures the Sitecore Content Testing messaging features.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <services>
      <register
        serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.Processing.Engine.Abstractions.Messages.TaskStatus, Sitecore.Processing.Engine.Abstractions]], Sitecore.Framework.Messaging.Abstractions"
        implementationType="Sitecore.ContentTesting.Messaging.ModelTrainingTaskStatusMessageHandler, Sitecore.ContentTesting"
        lifetime="Transient" />
    </services>
  </sitecore>
</configuration>