<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This include file defines the index computedIndex field used by the personalization feature of Sitecore when using the SOLR content search provider.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement" search:require="Solr">
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_personalization_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="core">poferries_personalization_index</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">  
              <documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
                <indexAllFields>false</indexAllFields>
                <fields hint="raw:AddExcludedSpecialField">
                  <remove type="both">Created</remove>
                  <remove type="both">Updated</remove>
                  <remove type="both">_creator</remove>
                  <remove type="both">_path</remove>
                  <remove type="both">_parent</remove>
                  <remove type="both">_editor</remove>
                  <remove type="both">_template</remove>
                  <remove type="both">_templatename</remove>
                </fields>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="experience" returnType="stringCollection">Sitecore.ContentTesting.ContentSearch.ComputedIndexFields.Experience,Sitecore.ContentTesting</field>
                  <field fieldName="personalizecomponent" returnType="int">Sitecore.ContentTesting.ContentSearch.ComputedIndexFields.PersonalizeComponent,Sitecore.ContentTesting</field>
                  <field fieldName="itemsite" returnType="string">Sitecore.ContentTesting.ContentSearch.ComputedIndexFields.ItemSite,Sitecore.ContentTesting</field>
                </fields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" role:require="Standalone or (ContentManagement and Indexing)" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentTesting.ContentSearch.PersonalizationItemCrawler, Sitecore.ContentTesting">
                <Database>web</Database>
                <!-- Limit this parameter to the root of the content of the site. -->
                <Root>/sitecore/content</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>