<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <events>
      <event name="item:bucketing:starting">
        <handler type="Sitecore.ContentTesting.Events.PauseIndexingOnBucketing, Sitecore.ContentTesting" method="PauseIndexing"/>
      </event>

      <event name="item:bucketing:ending">
        <handler type="Sitecore.ContentTesting.Events.PauseIndexingOnBucketing, Sitecore.ContentTesting" method="ResumeIndexing"/>
      </event>

      <event name="item:unbucketing:starting">
        <handler type="Sitecore.ContentTesting.Events.PauseIndexingOnBucketing, Sitecore.ContentTesting" method="PauseIndexing"/>
      </event>

      <event name="item:unbucketing:ending">
        <handler type="Sitecore.ContentTesting.Events.PauseIndexingOnBucketing, Sitecore.ContentTesting" method="ResumeIndexing"/>
      </event>
    </events>
    <pipelines>
      <itemWebApiSearch>
        <processor patch:after="processor[@type='Sitecore.ItemWebApi.Pipelines.Search.FilterItems, Sitecore.Speak.ItemWebApi']" type="Sitecore.ContentTesting.Pipelines.ItemWebApiSearch.FilterLatestVersion, Sitecore.ContentTesting" />
      </itemWebApiSearch>
    </pipelines>
    <contentTesting>
      <testingSearch type="Sitecore.ContentTesting.ContentSearch.TestingSearch, Sitecore.ContentTesting" />
    </contentTesting>
  </sitecore>
</configuration>