<?xml version="1.0" encoding="utf-8"?>

<!--

Purpose: This file configures the Sitecore Content Testing messaging features in Azure.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:messagingTransport="http://www.sitecore.net/xmlconfig/messagingTransport/">
  <sitecore role:require="Standalone or ContentManagement" messagingTransport:require="AzureServiceBus">
    <processing.tasks.messaging>
      <Messaging>
        <Rebus>
          <!-- Message bus that is used to send messages for requesting the status of a task. -->
          <Sitecore.ContentTesting.Messaging.ModelTrainingTaskStatusSubscriber>
            <Transport>
              <AzureServiceBus>
                <OneWay>false</OneWay>
                <ConnectionStringOrName>messaging</ConnectionStringOrName>
                <Mode>Standard</Mode>
                <InputQueueName>Sitecore_CT_ModelTrainingTaskStatusSubscriber</InputQueueName>
              </AzureServiceBus>
            </Transport>
            <Subscribers>
              <TypeMappings>
                <TaskStatusMapping>
                  <Type>Sitecore.Processing.Engine.Abstractions.Messages.TaskStatus, Sitecore.Processing.Engine.Abstractions</Type>
                  <PublisherQueue>Sitecore_PE_TaskStatusPublisher</PublisherQueue>
                </TaskStatusMapping>
              </TypeMappings>
            </Subscribers>
            <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory, Sitecore.Messaging" />
          </Sitecore.ContentTesting.Messaging.ModelTrainingTaskStatusSubscriber>
        </Rebus>
      </Messaging>
    </processing.tasks.messaging>
  </sitecore>
</configuration>