<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include file contains the aggregation processors.
ENABLE FOR SERVER ROLE: [Processing]

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or Processing">
    <pipelines>
      <group groupName="analytics.aggregation">
        <pipelines>
          <interactions>
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.MvTestingProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.MvTestingDetailsProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.TestPageClicksProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.TestConversionsProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.PageViewsByLanguageProcessor, Sitecore.ContentTesting">
              <DateTimePrecision type="Sitecore.Analytics.Aggregation.Data.DateTimeDayPrecisionStrategy, Sitecore.Analytics.Aggregation"/>
            </processor>
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.PageViewsProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.VisitsProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.PersonalizationProcessor, Sitecore.ContentTesting" />
            <processor type="Sitecore.ContentTesting.Analytics.Aggregation.Pipeline.PersonalizationRulesExposure, Sitecore.ContentTesting" />
          </interactions>
        </pipelines>
      </group>
    </pipelines>

    <aggregation>
      <routines>
        <ExecRoutineStatementBuilder>
          <mappings>
            <SqlMappingEntity uid="Fact_MvTesting" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_MvTesting</Table>
              <Routine>Add_MvTesting</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_MvTestingDetails" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_MvTestingDetails</Table>
              <Routine>Add_MvTestingDetails</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_Personalization" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_Personalization</Table>
              <Routine>Add_Personalization_Tvp</Routine>
              <IsMultiRow>True</IsMultiRow>
              <TableType>Personalization_Type</TableType>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_TestConversions" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_TestConversions</Table>
              <Routine>Add_TestConversions</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_TestOutcomes" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_TestOutcomes</Table>
              <Routine>Add_TestOutcomes</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_TestPageClicks" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_TestPageClicks</Table>
              <Routine>Add_TestPageClicks</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_TestStatistics" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_TestStatistics</Table>
              <Routine>Add_TestStatistic</Routine>
              <IsMultiRow>False</IsMultiRow>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_Visits" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_Visits</Table>
              <Routine>Add_Visits_Tvp</Routine>
              <IsMultiRow>True</IsMultiRow>
              <TableType>Visits_Type</TableType>
            </SqlMappingEntity>
            <SqlMappingEntity uid="Fact_RulesExposure" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_RulesExposure</Table>
              <Routine>Add_RulesExposure_Tvp</Routine>
              <IsMultiRow>True</IsMultiRow>
              <TableType>RulesExposure_Type</TableType>
            </SqlMappingEntity>
          </mappings>
        </ExecRoutineStatementBuilder>
      </routines>
    </aggregation>

  </sitecore>
</configuration>