<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include file configures Azure Service Bus transport for the Sitecore Processing Tasks API.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:messagingTransport="http://www.sitecore.net/xmlconfig/messagingTransport/">
  <sitecore role:require="Standalone or ContentManagement" messagingTransport:require="AzureServiceBus">
    <processing.tasks.messaging>
      <Messaging>
        <Rebus>
          <!-- Message bus that is used to send messages about processing task registration. -->
          <Sitecore.Processing.Tasks.Messaging.Buses.TaskRegistrationProducer>
            <Transport>
              <AzureServiceBus>
                <OneWay>false</OneWay>
                <ConnectionStringOrName>messaging</ConnectionStringOrName>
                <Mode>Standard</Mode>
                <InputQueueName>Sitecore_PE_TaskRegistrationProducer</InputQueueName>
              </AzureServiceBus>
            </Transport>
            <Routing>
              <TypeBasedMappings>
                <TypeMappings>
                  <RegisterDistributedTaskMap>
                    <Type>Sitecore.Processing.Engine.Abstractions.Messages.RegisterDistributedTask, Sitecore.Processing.Engine.Abstractions</Type>
                    <DestinationQueue>Sitecore_PE_TaskRegistrationConsumer</DestinationQueue>
                  </RegisterDistributedTaskMap>
                  <RegisterDeferredTaskMap>
                    <Type>Sitecore.Processing.Engine.Abstractions.Messages.RegisterDeferredTask, Sitecore.Processing.Engine.Abstractions</Type>
                    <DestinationQueue>Sitecore_PE_TaskRegistrationConsumer</DestinationQueue>
                  </RegisterDeferredTaskMap>
                </TypeMappings>
              </TypeBasedMappings>
            </Routing>
            <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
          </Sitecore.Processing.Tasks.Messaging.Buses.TaskRegistrationProducer>
          <!-- Message bus that is used to send messages for requesting the progress of a task. -->
          <Sitecore.Processing.Tasks.Messaging.Buses.TaskProgressProducer>
            <Transport>
              <AzureServiceBus>
                <OneWay>false</OneWay>
                <ConnectionStringOrName>messaging</ConnectionStringOrName>
                <Mode>Standard</Mode>
                <InputQueueName>Sitecore_PE_TaskProgressProducer</InputQueueName>
              </AzureServiceBus>
            </Transport>
            <Routing>
              <TypeBasedMappings>
                <TypeMappings>
                  <TaskProgressRequestMap>
                    <Type>Sitecore.Processing.Engine.Abstractions.Messages.TaskProgressRequest, Sitecore.Processing.Engine.Abstractions</Type>
                    <DestinationQueue>Sitecore_PE_TaskProgressConsumer</DestinationQueue>
                  </TaskProgressRequestMap>
                </TypeMappings>
              </TypeBasedMappings>
            </Routing>
            <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
          </Sitecore.Processing.Tasks.Messaging.Buses.TaskProgressProducer>
        </Rebus>
      </Messaging>
    </processing.tasks.messaging>
  </sitecore>
</configuration>
