<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include file configures the Sitecore Processing Tasks API and injects it into the Sitecore DI Container.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <events>
      <event name="processingengine:taskregistrationstatus:remote">
        <handler type="Sitecore.Processing.Tasks.Messaging.Xmgmt.Events.TaskRegistrationStatusRemoteEventHandler, Sitecore.Processing.Tasks.Messaging.Xmgmt" method="OnOperationStatusResponseRemote" resolve="true" />
      </event>
      <event name="processingengine:taskprogressresponse:remote">
        <handler type="Sitecore.Processing.Tasks.Messaging.Xmgmt.Events.TaskProgressResponseRemoteEventHandler, Sitecore.Processing.Tasks.Messaging.Xmgmt" method="OnOperationStatusResponseRemote" resolve="true" />
      </event>
    </events>
    <hooks>
      <hook type="Sitecore.Processing.Tasks.Messaging.Xmgmt.Hooks.SubscribeToRemoteEvents, Sitecore.Processing.Tasks.Messaging.Xmgmt" resolve="true" />
    </hooks>
    <processing.tasks.messaging>
      <!-- Task manager that is used to register processing tasks for execution. -->
      <taskManager type="Sitecore.Processing.Tasks.Messaging.TaskManager, Sitecore.Processing.Tasks.Messaging">
        <param name="taskManagerOptions" type="Sitecore.Processing.Tasks.Messaging.TaskManagerOptions, Sitecore.Processing.Tasks.Messaging">
          <!-- Timeout for task registration requests, given as a TimeSpan. Default value: 30 seconds. -->
          <param name="taskRegistrationTimeout" type="Sitecore.Processing.Common.ConfigurationHelper, Sitecore.Processing.Common" factoryMethod="ToTimeSpan" arg0="00:00:30" />
          <!-- Timeout for task progress requests, given as a TimeSpan. Default value: 30 seconds. -->
          <param name="taskProgressRequestTimeout" type="Sitecore.Processing.Common.ConfigurationHelper, Sitecore.Processing.Common" factoryMethod="ToTimeSpan" arg0="00:00:30" />
        </param>
        <param name="synchronizedTaskRegistrationBusContext" type="Sitecore.Processing.Tasks.Messaging.ISynchronizedMessageBusContext`1[[Sitecore.Framework.Messaging.IMessageBus`1[[Sitecore.Processing.Tasks.Messaging.Buses.TaskRegistrationProducer, Sitecore.Processing.Tasks.Messaging]], Sitecore.Framework.Messaging.Abstractions]], Sitecore.Processing.Tasks.Messaging" resolve="true" />
        <param name="synchronizedTaskProgressBusContext" type="Sitecore.Processing.Tasks.Messaging.ISynchronizedMessageBusContext`1[[Sitecore.Framework.Messaging.IMessageBus`1[[Sitecore.Processing.Tasks.Messaging.Buses.TaskProgressProducer, Sitecore.Processing.Tasks.Messaging]], Sitecore.Framework.Messaging.Abstractions]], Sitecore.Processing.Tasks.Messaging" resolve="true" />
      </taskManager>
    </processing.tasks.messaging>
    <services>
      <!-- Context of the message bus to synchronize task registration requests and task registration statuses. -->
      <register
        serviceType="Sitecore.Processing.Tasks.Messaging.ISynchronizedMessageBusContext`1[[Sitecore.Framework.Messaging.IMessageBus`1[[Sitecore.Processing.Tasks.Messaging.Buses.TaskRegistrationProducer, Sitecore.Processing.Tasks.Messaging]], Sitecore.Framework.Messaging.Abstractions]], Sitecore.Processing.Tasks.Messaging"
        implementationType="Sitecore.Processing.Tasks.Messaging.SynchronizedMessageBusContext`1[[Sitecore.Framework.Messaging.IMessageBus`1[[Sitecore.Processing.Tasks.Messaging.Buses.TaskRegistrationProducer, Sitecore.Processing.Tasks.Messaging]], Sitecore.Framework.Messaging.Abstractions]], Sitecore.Processing.Tasks.Messaging"
        lifetime="Singleton" />
      <!-- Context of the message bus to synchronize task progress requests and responses. -->
      <register
        serviceType="Sitecore.Processing.Tasks.Messaging.ISynchronizedMessageBusContext`1[[Sitecore.Framework.Messaging.IMessageBus`1[[Sitecore.Processing.Tasks.Messaging.Buses.TaskProgressProducer, Sitecore.Processing.Tasks.Messaging]], Sitecore.Framework.Messaging.Abstractions]], Sitecore.Processing.Tasks.Messaging"
        implementationType="Sitecore.Processing.Tasks.Messaging.SynchronizedMessageBusContext`1[[Sitecore.Framework.Messaging.IMessageBus`1[[Sitecore.Processing.Tasks.Messaging.Buses.TaskProgressProducer, Sitecore.Processing.Tasks.Messaging]], Sitecore.Framework.Messaging.Abstractions]], Sitecore.Processing.Tasks.Messaging"
        lifetime="Singleton" />
      <!-- Handler for task registration status messages. -->
      <register
        serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.Processing.Engine.Abstractions.Messages.TaskRegistrationStatus, Sitecore.Processing.Engine.Abstractions]], Sitecore.Framework.Messaging.Abstractions"
        implementationType="Sitecore.Processing.Tasks.Messaging.Xmgmt.Handlers.RoutingTaskRegistrationStatusHandler, Sitecore.Processing.Tasks.Messaging.Xmgmt"
        lifetime="Transient" />
      <!-- Handler for task progress request response messages. -->
      <register
        serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.Processing.Engine.Abstractions.Messages.TaskProgressResponse, Sitecore.Processing.Engine.Abstractions]], Sitecore.Framework.Messaging.Abstractions"
        implementationType="Sitecore.Processing.Tasks.Messaging.Xmgmt.Handlers.RoutingTaskProgressResponseHandler, Sitecore.Processing.Tasks.Messaging.Xmgmt"
        lifetime="Transient" />
      <!-- Configurator for task manager, defined in "processing.tasks.messaging/taskManager" section. -->
      <configurator type="Sitecore.Processing.Tasks.Messaging.Xmgmt.TaskManagerConfigurator, Sitecore.Processing.Tasks.Messaging.Xmgmt" />
      <!-- Configurator for Rebus, defined in "processing.tasks.messaging/Rebus" section. -->
      <configurator type="Sitecore.Processing.Tasks.Messaging.Xmgmt.RebusConfigurator, Sitecore.Processing.Tasks.Messaging.Xmgmt" />
    </services>
  </sitecore>
</configuration>
