<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include file configures reference data client that is used to access reference data service via web API endpoint.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentManagement or ContentDelivery or Standalone">
        <xdb.referenceData.client>
            <!-- A modifier which sets timeout for all requests performed by the reference data client -->
            <timeoutHttpClientModifier type="Sitecore.Xdb.Common.Web.TimeoutHttpClientModifier, Sitecore.Xdb.Common.Web">
                <!-- The timespan to wait before the request times out. Default value: 100 seconds. -->
                <param name="timeout">00:01:40</param>
            </timeoutHttpClientModifier>
            <!-- A modifier which sets the client certificate required to authenticate to the xConnect server -->
            <clientCertificateModifier type="Sitecore.Xdb.Common.Web.CertificateHttpClientHandlerModifier, Sitecore.Xdb.Common.Web">
              <param name="certificateConnectionString" connectionStringName="xdb.referencedata.client.certificate"/>
              <param name="allowInvalidClientCertificates" type="Sitecore.Xdb.ReferenceData.Client.Xmgmt.AppSettingsResolver, Sitecore.Xdb.ReferenceData.Client.Xmgmt" factoryMethod="Resolve" arg0="AllowInvalidClientCertificates"/>
            </clientCertificateModifier>
            <!-- Read/Write Reference Data Client -->
            <referenceDataClient type="Sitecore.Xdb.ReferenceData.Client.ReferenceDataHttpClient, Sitecore.Xdb.ReferenceData.Client">
                <param name="definitionConverter" type="Sitecore.Xdb.ReferenceData.Core.Converter.DefinitionEnvelopeJsonConverter, Sitecore.Xdb.ReferenceData.Core" />
                <param name="serviceAddress" connectionStringName="xdb.referencedata.client"/>
                <param name="clientModifiers" type="Sitecore.Xdb.ReferenceData.Client.Xmgmt.ConfigurableCollection`1[[Sitecore.Xdb.Common.Web.IHttpClientModifier, Sitecore.Xdb.Common.Web]], Sitecore.Xdb.ReferenceData.Client.Xmgmt">
                    <httpClientModifiers hint="raw:AddConfigurableItem">
                        <!-- Sets timeout for all requests performed by the reference data client -->
                        <httpClientModifier ref="xdb.referenceData.client/timeoutHttpClientModifier" />
                    </httpClientModifiers>
                </param>
                <param name="httpClientHandlerModifiers" type="Sitecore.Xdb.ReferenceData.Client.Xmgmt.ConfigurableCollection`1[[Sitecore.Xdb.Common.Web.IHttpClientHandlerModifier, Sitecore.Xdb.Common.Web]], Sitecore.Xdb.ReferenceData.Client.Xmgmt">
                    <httpClientHandlerModifiers hint="raw:AddConfigurableItem">
                        <!-- Sets the client certificate required to authenticate to the xConnect server -->
                        <clientCertificate ref="xdb.referenceData.client/clientCertificateModifier" />
                    </httpClientHandlerModifiers>
                </param>
                <param name="logger" type="Microsoft.Extensions.Logging.ILogger`1[[Sitecore.Xdb.ReferenceData.Client.ReferenceDataHttpClient, Sitecore.Xdb.ReferenceData.Client]], Microsoft.Extensions.Logging.Abstractions" resolve="true" />
            </referenceDataClient>
            <!-- Read only Reference Data Client -->
            <readOnlyReferenceDataClient type="Sitecore.Xdb.ReferenceData.Client.ReadOnlyReferenceDataHttpClient, Sitecore.Xdb.ReferenceData.Client">
                <param name="definitionConverter" type="Sitecore.Xdb.ReferenceData.Core.Converter.DefinitionEnvelopeJsonConverter, Sitecore.Xdb.ReferenceData.Core" />
                <param name="serviceAddress" connectionStringName="xdb.referencedata.client"/>
                <param name="clientModifiers" type="Sitecore.Xdb.ReferenceData.Client.Xmgmt.ConfigurableCollection`1[[Sitecore.Xdb.Common.Web.IHttpClientModifier, Sitecore.Xdb.Common.Web]], Sitecore.Xdb.ReferenceData.Client.Xmgmt">
                    <httpClientModifiers hint="raw:AddConfigurableItem">
                        <!-- Sets timeout for all requests performed by the reference data client -->
                        <httpClientModifier ref="xdb.referenceData.client/timeoutHttpClientModifier" />
                    </httpClientModifiers>
                </param>
                <param name="httpClientHandlerModifiers" type="Sitecore.Xdb.ReferenceData.Client.Xmgmt.ConfigurableCollection`1[[Sitecore.Xdb.Common.Web.IHttpClientHandlerModifier, Sitecore.Xdb.Common.Web]], Sitecore.Xdb.ReferenceData.Client.Xmgmt">
                    <httpClientHandlerModifiers hint="raw:AddConfigurableItem">
                        <!-- Sets the client certificate required to authenticate to the xConnect server -->
                        <clientCertificate ref="xdb.referenceData.client/clientCertificateModifier" />
                    </httpClientHandlerModifiers>
                </param>
                <param name="logger" type="Microsoft.Extensions.Logging.ILogger`1[[Sitecore.Xdb.ReferenceData.Client.ReadOnlyReferenceDataHttpClient, Sitecore.Xdb.ReferenceData.Client]], Microsoft.Extensions.Logging.Abstractions" resolve="true" />
            </readOnlyReferenceDataClient>
        </xdb.referenceData.client>
        <services>
            <!-- Reference data client -->
            <configurator type="Sitecore.Xdb.ReferenceData.Client.Xmgmt.ReferenceDataClientConfigurator, Sitecore.Xdb.ReferenceData.Client.Xmgmt" />
        </services>
        <heartbeatConfiguration>
            <exclude>
                <connectionStringName desc="xdb.referencedata.client">xdb.referencedata.client</connectionStringName>
                <connectionStringName desc="xdb.referencedata.client.certificate">xdb.referencedata.client.certificate</connectionStringName>
            </exclude>
        </heartbeatConfiguration>
    </sitecore>
</configuration>
