<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <api>
      <services>
        <configuration>
          <allowedControllers>
            <allowedController desc="SupportPackageFileController">Sitecore.ExperienceContentManagement.Administration.Controllers.SupportPackageFileController,Sitecore.ExperienceContentManagement.Administration</allowedController>
            <allowedController desc="SupportPackageRequestController">Sitecore.ExperienceContentManagement.Administration.Controllers.SupportPackageRequestController,Sitecore.ExperienceContentManagement.Administration</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
    <commands>
      <command name="admin:showadminpage" type="Sitecore.ExperienceContentManagement.Administration.Commands.ShowAdminPage,Sitecore.ExperienceContentManagement.Administration" role:require="ContentManagement or Standalone"/>
    </commands>
    <events>
      <event name="support:package:requested">
        <handler type="Sitecore.ExperienceContentManagement.Administration.ValidateInstanceName, Sitecore.ExperienceContentManagement.Administration" static="true" method="OnSupportPackageRequested" />
        <handler type="Sitecore.ExperienceContentManagement.Administration.Logging.AzureFallbackAppender, Sitecore.ExperienceContentManagement.Administration" static="true" method="OnSupportPackageRequested" />
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnRequested" />
      </event>
      <event name="support:package:requested:remote">
        <handler type="Sitecore.ExperienceContentManagement.Administration.ValidateInstanceName, Sitecore.ExperienceContentManagement.Administration" static="true" method="OnSupportPackageRequested" />
        <handler type="Sitecore.ExperienceContentManagement.Administration.Logging.AzureFallbackAppender, Sitecore.ExperienceContentManagement.Administration" static="true" method="OnSupportPackageRequested" />
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnRequested" />
      </event>
      <event name="support:package:generating">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnGenerating" />
      </event>
      <event name="support:package:generating:remote">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnGenerating" />
      </event>
      <event name="support:package:generated">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnGenerated" />
      </event>
      <event name="support:package:generated:remote">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnGenerated" />
      </event>
      <event name="support:package:cleanup">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnCleanup" />
      </event>
      <event name="support:package:cleanup:remote">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnCleanup" />
      </event>
    </events>
    <hooks>
      <hook type="Sitecore.ExperienceContentManagement.Administration.Hooks.SupportPackageHook, Sitecore.ExperienceContentManagement.Administration" />
    </hooks>
    <scheduling role:require="Standalone OR ContentManagement">
      <!--  EMAIL DIAGNOSTICS REPORT TASK
            The task collects support package from all Sitecore instances in solution, uploads the package 
            to Sitecore diagnostics service, receives analysis report and sends it to specified emails.
            
            The interval attribute is only required for task being awaked, but the actual work happens
            according to schedule setting. The interval attribute value must not be less than 01:00:00
      -->
      <agent name="EmailDiagnosticsReportTask" type="Sitecore.ExperienceContentManagement.Administration.Tasks.EmailDiagnosticsReportTask, Sitecore.ExperienceContentManagement.Administration" method="Run" interval="01:00:00">
        <!--  SCHEDULE
              The setting specifies schedule of how often the diagnostics is performed. The supported
              options are: daily, weekly, monthly. Due to nature of scheduled tasks, accuracy of time
              is per hour.

              SAMPLE VALUE             | SAMPLE MOMENTS WHEN REPORT IS SENT ACCORDING TO SAMPLE VALUE
              - - - - - - - - - - - - -|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
              daily; 02:00:00          | 2018-01-01 02:13:16, 2018-01-02 20:26:33, 2018-01-03 20:49:53, ... 
              weekly; monday; 02:00:00 | 2018-01-01 02:06:00, 2018-01-08 02:31:00, 2018-01-15 02:59:24, ... 
              monthly; 31; 02:00:00    | 2018-01-31 02:01:11, 2018-02-28 02:20:40, 2018-03-31 02:35:44, ... 
         -->
        <param desc="schedule">weekly; monday; 02:00:00</param>
        <!--  COLLECTORS
              The setting specifies semicolon-delimited list of collectors, the full list is available 
              on the /sitecore/admin/supportpackage.aspx page with descriptions.
        -->
        <param desc="collectors">C01;C02;C03;C04;C05;C06;C07;C08;C09;C13;C14</param>
        <!--  LOG DAYS
              The setting specifies the number of days that log files are included into the support package
              For example, 7 days means log files for the past week will be included into the package.
        -->
        <param desc="logDays">7</param>
      </agent>
    </scheduling>
    <settings>
      <!--  SUPPORT PACKAGE RESPONSE TIMEOUT
            Specifies the time out for responding to support package generation requests by remote Sitecore instances. 
            Default value: 00:01:00
      -->
      <setting name="SupportPackage.ResponseTimeout" value="00:01:00" />
      <!--  SUPPORT PACKAGE COLLECTION TIMEOUT
            Specifies the time out for generating support packages by remote Sitecore instances. 
            Default value: 00:10:00
      -->
      <setting name="SupportPackage.CollectionTimeout" value="00:10:00" />
      <!--  SUPPORT PACKAGE RUN DIAGNOSTICS TASK FROM ADDRESSS
            Specifies the email address the scheduled diagnostics task will use to send email
            Default value: ""
      -->
      <setting name="SupportPackage.RunDiagnosticsTask.FromAddress" value="" />
      <!--  SUPPORT PACKAGE RUN DIAGNOSTICS TASK MAIL TO
            Specifies the pipe-separated list of email addresses the scheduled diagnostics task will send email to.
            Default value: ""
      -->
      <setting name="SupportPackage.RunDiagnosticsTask.MailTo" value="" />
      <!--  SUPPORT PACKAGE RUN DIAGNOSTICS TASK SUBJECT
            Specifies the subject pattern of email addresses the scheduled diagnostics task will send email with.
            Default value: "Sitecore Diagnostics Report {0:yyyy-MM-dd}"
      -->
      <setting name="SupportPackage.RunDiagnosticsTask.Subject" value="Sitecore Diagnostics Report {0:yyyy-MM-dd}" />
      <!--  SUPPORT PACKAGE RUN DIAGNOSTICS TASK BODY
            Specifies the body pattern of email addresses the scheduled diagnostics task will send email with.
            Default value: "Please find the attached diagnostics report. You have received this email because this email is specified in the SupportPackage.RunDiagnosticsTask.MailTo setting."
      -->
      <setting name="SupportPackage.RunDiagnosticsTask.Body" value="Please find the attached diagnostics report. You have received this email because this email is specified in the SupportPackage.RunDiagnosticsTask.MailTo setting." />
      <!--  SUPPORT PACKAGE DIAGNOSTICS SERVICE URL
            Specifies the diagnostics service endpoint URL for optional support package analysis.
            Default value: https://diagnostics.cloud.sitecore.net/api/v1
      -->
      <setting name="SupportPackage.DiagnosticsServiceUrl" value="https://diagnostics.cloud.sitecore.net/api/v1" />
    </settings>
    <log4net>
      <!--  AZURE FALLBACK APPENDER
            The appender is only designed to work in Azure PaaS environment to be used by automatic diagnostics and support package collection tools.
            The Azure environment is detected automatically, otherwise the appender is disabled.
      -->
      <appender name="AzureFallbackAppender" type="Sitecore.ExperienceContentManagement.Administration.Logging.AzureFallbackAppender, Sitecore.ExperienceContentManagement.Administration">
        <file value="$(dataFolder)/logs/{machineName}/azure.log.{date}.{time}.txt" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="-1" />
        <maximumFileSize value="10MB" />
        <immediateFlush value="false" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
      <root>
        <appender-ref ref="AzureFallbackAppender" desc="AzureFallbackAppender" />
      </root>
      <logger name="Sitecore.Diagnostics.Publishing">
        <appender-ref ref="AzureFallbackAppender" desc="AzureFallbackAppender" />
      </logger>
      <logger name="ClientRoot">
        <appender-ref ref="AzureFallbackAppender" desc="AzureFallbackAppender" />
      </logger>
      <logger name="Sitecore.Owin.Diagnostics">
        <appender-ref ref="AzureFallbackAppender" desc="AzureFallbackAppender" />
      </logger>
      <logger name="Sitecore.Diagnostics.Search">
        <appender-ref ref="AzureFallbackAppender" desc="AzureFallbackAppender" />
      </logger>
      <logger name="Sitecore.Diagnostics.Crawling">
        <appender-ref ref="AzureFallbackAppender" desc="AzureFallbackAppender" />
      </logger>
      <logger name="Sitecore.FXM.Diagnostics">
        <appender-ref ref="AzureFallbackAppender" desc="AzureFallbackAppender" />
      </logger>
      <logger name="Sitecore.EDS">
        <appender-ref ref="AzureFallbackAppender" desc="AzureFallbackAppender" />
      </logger>
      <logger name="Sitecore.EXM">
        <appender-ref ref="AzureFallbackAppender" desc="AzureFallbackAppender" />
      </logger>
      <logger name="Sitecore.Analytics.Aggregation">
        <appender-ref ref="AzureFallbackAppender" desc="AzureFallbackAppender" />
      </logger>
      <logger name="Sitecore.Xdb.Processing.ContactMerge.Logger">
        <appender-ref ref="AzureFallbackAppender" desc="AzureFallbackAppender" />
      </logger>
    </log4net>
    <AntiCsrf>
      <rules>
        <rule name="DBCleanup">
          <urlPrefix>/sitecore/admin/DBCleanup.aspx</urlPrefix>
        </rule>
        <rule name="EventQueueStats">
          <urlPrefix>/sitecore/admin/EventQueueStats.aspx</urlPrefix>
        </rule>
        <rule name="PackageItem">
          <urlPrefix>/sitecore/admin/PackageItem.aspx</urlPrefix>
        </rule>
        <rule name="PublishQueueStats">
          <urlPrefix>/sitecore/admin/PublishQueueStats.aspx</urlPrefix>
        </rule>
        <rule name="RawSearch">
          <urlPrefix>/sitecore/admin/RawSearch.aspx</urlPrefix>
        </rule>
        <rule name="SecurityTools">
          <urlPrefix>/sitecore/admin/SecurityTools.aspx</urlPrefix>
        </rule>
        <rule name="SqlShell">
          <urlPrefix>/sitecore/admin/SqlShell.aspx</urlPrefix>
        </rule>
      </rules>
    </AntiCsrf>
  </sitecore>
</configuration>
