<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=BG4NB1167\SQLEXPRESS;Initial Catalog=poferries_Core;User ID=coreuser;Password=EDNJ1jgZGVuzBUbhzR7h" />
  <add name="security" connectionString="Data Source=BG4NB1167\SQLEXPRESS;Initial Catalog=poferries_Core;User ID=securityuser;Password=cD8f4SZz78jOvXfxned0" />
  <add name="master" connectionString="Data Source=BG4NB1167\SQLEXPRESS;Initial Catalog=poferries_Master;User ID=masteruser;Password=WaihVlXayGn6Ugy6VuAf" />
  <add name="web" connectionString="Data Source=BG4NB1167\SQLEXPRESS;Initial Catalog=poferries_Web;User ID=webuser;Password=IWxYThSsg2sywYj7cF0K" />
  <add name="messaging" connectionString="Data Source=BG4NB1167\SQLEXPRESS;Initial Catalog=poferries_Messaging;User ID=messaginguser;Password=va9h4086mQXcFDka0nGE" />
  <add name="xdb.marketingautomation" connectionString="Data Source=BG4NB1167\SQLEXPRESS;Initial Catalog=poferries_MarketingAutomation;User ID=marketingautomationuser;Password=odgW8HvXqflC9pQNi1RV" />
  <add name="xdb.processing.pools" connectionString="Data Source=BG4NB1167\SQLEXPRESS;Initial Catalog=poferries_Processing.Pools;User ID=poolsuser;Password=MAWkmGKfyLwW87rJjhzt" />
  <add name="xdb.referencedata" connectionString="Data Source=BG4NB1167\SQLEXPRESS;Initial Catalog=poferries_ReferenceData;User ID=referencedatauser;Password=jrCCb0pYtftFZNUbRlIT" />
  <add name="xdb.processing.tasks" connectionString="Data Source=BG4NB1167\SQLEXPRESS;Initial Catalog=poferries_Processing.Tasks;User ID=tasksuser;Password=OxMF8jUVtE6GkpwagSf2" />
  <add name="experienceforms" connectionString="Data Source=BG4NB1167\SQLEXPRESS;Initial Catalog=poferries_ExperienceForms;User ID=formsuser;Password=FCUN342x3LVGvSBMbvBk" />
  <add name="exm.master" connectionString="Data Source=BG4NB1167\SQLEXPRESS;Initial Catalog=poferries_EXM.Master;User ID=exmmasteruser;Password=AG1bbLkKos1f7AF2PgBM" />
  <add name="reporting" connectionString="Data Source=BG4NB1167\SQLEXPRESS;Initial Catalog=poferries_Reporting;User ID=reportinguser;Password=THdNXzD7AGGx7ICyAvm4" />
  <add name="sitecore.reporting.client" connectionString="https://poferriesxconnect.dev.local" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=0337211344E423AC7991C307A36F8BCA1210ECE2" />
  <add name="solr.search" connectionString="https://localhost:8983/solr" />
  <add name="sitecoreidentity.secret" connectionString="8986LpnSUq5GNxb7N5jwyazDhTOnBFpPQh03PKXICKt4y5ddd3gXJ7CPFufam3EkFU0SAwxAZF5wi0E3KuLmVkjkVT0xd8t7NAhm" />
  <add name="xconnect.collection" connectionString="https://poferriesxconnect.dev.local" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=0337211344E423AC7991C307A36F8BCA1210ECE2" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://poferriesxconnect.dev.local" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=0337211344E423AC7991C307A36F8BCA1210ECE2" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://poferriesxconnect.dev.local" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=0337211344E423AC7991C307A36F8BCA1210ECE2" />
  <add name="xdb.referencedata.client" connectionString="https://poferriesxconnect.dev.local" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=0337211344E423AC7991C307A36F8BCA1210ECE2" />
  <add name="EXM.CryptographicKey" connectionString="0x0261157042829332993377782677163336923357812523507100538828388781" />
  <add name="EXM.AuthenticationKey" connectionString="0x7829631417113322166536513897186376258301852559102986659601758621" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
</connectionStrings>