<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/"
               xmlns:messagingTransport="http://www.sitecore.net/xmlconfig/messagingTransport/">
    <sitecore exmEnabled:require="yes" role:require="Standalone or ContentDelivery or ContentManagement">
        <services role:require="Standalone or ContentManagement">
            <register role:require="!DedicatedDispatch"
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.AutomatedMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.UI.Handlers.AutomatedMessageHandler, Sitecore.EmailCampaign.Cm.UI"
                lifetime="Transient" />
            <register role:require="!DedicatedDispatch"
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.ConfirmSubscriptionMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.UI.Handlers.ConfirmSubscriptionMessageHandler, Sitecore.EmailCampaign.Cm.UI"
                lifetime="Transient" />
            <register
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.EmailOpenMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.Handlers.EmailOpenedMessageHandler, Sitecore.EmailCampaign.Cm"
                lifetime="Transient" />
            <register
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.EmailAddressHistoryMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.Handlers.EmailAddressHistoryEntryHandler, Sitecore.EmailCampaign.Cm"
                lifetime="Transient" />
            <register
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.SentMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.Handlers.SentMessageHandler, Sitecore.EmailCampaign.Cm"
                lifetime="Transient" />
            <register role:require="!DedicatedDispatch"
                serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.ClearSuppressionList, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
                implementationType="Sitecore.EmailCampaign.Cm.UI.Handlers.ClearSuppressionListMessageHandler, Sitecore.EmailCampaign.Cm.UI"
                lifetime="Transient" />
        </services>

        <exm>
            <updateListSubscriptionHandler type="Sitecore.EmailCampaign.Cm.Ui.Handlers.UpdateListSubscriptionHandler, Sitecore.EmailCampaign.Cm.Ui" resolve="true"  role:require="(Standalone or ContentManagement) and !DedicatedDispatch" />
        </exm>

        <initialize>
            <!-- Initializes the message bus for sending automated messages -->
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.MessageBus.InitializeMessageBus, Sitecore.EmailCampaign" resolve="true" />
        </initialize>

        <Messaging>
            <Rebus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.AutomatedMessagesBus role:require="!DedicatedDispatch">
                    <Transport>
                        <SqlServer messagingTransport:require="SQL">
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_AutomatedMessagesQueue</InputQueueName>
                        </SqlServer>
                        <AzureServiceBus messagingTransport:require="AzureServiceBus">
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_AutomatedMessagesQueue</InputQueueName>
                        </AzureServiceBus>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <AutomatedMessageMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.AutomatedMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>Sitecore_EXM_AutomatedMessagesQueue</DestinationQueue>
                                </AutomatedMessageMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options role:require="Standalone or ContentManagement">
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.AutomatedMessagesBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.UpdateListSubscriptionMessagesBus role:require="!DedicatedDispatch">
                    <Transport>
                        <SqlServer messagingTransport:require="SQL">
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_UpdateListSubscriptionMessagesQueue</InputQueueName>
                        </SqlServer>
                        <AzureServiceBus messagingTransport:require="AzureServiceBus">
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_UpdateListSubscriptionMessagesQueue</InputQueueName>
                        </AzureServiceBus>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <SubscribeMessageMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.UpdateListSubscriptionMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>Sitecore_EXM_UpdateListSubscriptionMessagesQueue</DestinationQueue>
                                </SubscribeMessageMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options role:require="Standalone or ContentManagement">
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.UpdateListSubscriptionMessagesBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.ConfirmSubscriptionMessagesBus role:require="!DedicatedDispatch">
                    <Transport>
                        <SqlServer messagingTransport:require="SQL">
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_ConfirmSubscriptionMessagesQueue</InputQueueName>
                        </SqlServer>
                        <AzureServiceBus messagingTransport:require="AzureServiceBus">
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_ConfirmSubscriptionMessagesQueue</InputQueueName>
                        </AzureServiceBus>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <ConfirmSubscriptionMessageMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.ConfirmSubscriptionMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>Sitecore_EXM_ConfirmSubscriptionMessagesQueue</DestinationQueue>
                                </ConfirmSubscriptionMessageMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options role:require="Standalone or ContentManagement">
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.ConfirmSubscriptionMessagesBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.EmailOpenMessagesBus>
                    <Transport>
                        <SqlServer messagingTransport:require="SQL">
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_EmailOpenedMessagesQueue</InputQueueName>
                        </SqlServer>
                        <AzureServiceBus messagingTransport:require="AzureServiceBus">
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_EmailOpenedMessagesQueue</InputQueueName>
                        </AzureServiceBus>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <EmailOpenDtoMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.EmailOpenMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>Sitecore_EXM_EmailOpenedMessagesQueue</DestinationQueue>
                                </EmailOpenDtoMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options role:require="Standalone or ContentManagement">
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.EmailOpenMessagesBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.ClearSuppressionListMessagesBus>
                    <Transport>
                        <SqlServer messagingTransport:require="SQL">
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_ClearSuppressionListQueue</InputQueueName>
                        </SqlServer>
                        <AzureServiceBus messagingTransport:require="AzureServiceBus">
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_ClearSuppressionListQueue</InputQueueName>
                        </AzureServiceBus>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <EmailOpenDtoMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.ClearSuppressionList, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>Sitecore_EXM_ClearSuppressionListQueue</DestinationQueue>
                                </EmailOpenDtoMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options role:require="Standalone or ContentManagement">
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.ClearSuppressionListMessagesBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.EmailAddressHistoryBus role:require="Standalone or ContentManagement">
                    <Transport>
                        <SqlServer messagingTransport:require="SQL">
                            <OneWay>false</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_EmailAddressHistoryMessagesQueue</InputQueueName>
                        </SqlServer>
                        <AzureServiceBus messagingTransport:require="AzureServiceBus">
                            <OneWay>false</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_EmailAddressHistoryMessagesQueue</InputQueueName>
                        </AzureServiceBus>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <EmailAddressHistoryMessageMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.EmailAddressHistoryMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>Sitecore_EXM_EmailAddressHistoryMessagesQueue</DestinationQueue>
                                </EmailAddressHistoryMessageMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options>
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.EmailAddressHistoryBus>
                <Sitecore.EmailCampaign.Model.Messaging.Buses.SentMessagesBus role:require="Standalone or ContentManagement">
                    <Transport>
                        <SqlServer messagingTransport:require="SQL">
                            <OneWay>false</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_SentMessagesQueue</InputQueueName>
                        </SqlServer>
                        <AzureServiceBus messagingTransport:require="AzureServiceBus">
                            <OneWay>false</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <InputQueueName>Sitecore_EXM_SentMessagesQueue</InputQueueName>
                        </AzureServiceBus>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <SentMessageMapping>
                                    <Type>Sitecore.EmailCampaign.Model.Messaging.SentMessage, Sitecore.EmailCampaign.Model</Type>
                                    <DestinationQueue>Sitecore_EXM_SentMessagesQueue</DestinationQueue>
                                </SentMessageMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options>
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Sitecore.EmailCampaign.Model.Messaging.Buses.SentMessagesBus>
            </Rebus>
        </Messaging>
    </sitecore>
</configuration>
