<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore exmEnabled:require="yes" role:require="Standalone or ContentDelivery">
        <exm>
            <!-- ROLES
                 Describes which Email Experience Manager server roles are enabled by this configuration file.
              -->
            <roles>
                <role name="Content Delivery" />
            </roles>

            <emailEventStorage type="Sitecore.EmailCampaign.Cd.EmailEvents.EmailEventStorageCache, Sitecore.EmailCampaign.Cd" singleInstance="true">
                <param desc="maxCacheSize" ref="settings/setting[@name='EXM.OpenAndClickCache']/@value" />
                <param desc="logger" ref="exmLogger" />
            </emailEventStorage>

            <!--Service to get and save marketing preferences for a specific contact for a specific manager root -->
            <marketingPreferencesService type="Sitecore.EmailCampaign.Cd.Services.MarketingPreferencesService, Sitecore.EmailCampaign.Cd" resolve="true">
                <!-- Delay in milliseconds between retries when saving the preferences -->
                <Delay>200</Delay>
                <!-- Number of retry attempts -->
                <RetryCount>3</RetryCount>
            </marketingPreferencesService>
        </exm>

        <pipelines>
            <group groupName="exm.messageEvents">
                <pipelines>
                    <!-- REDIRECT URL PIPELINE
                         This pipeline is executed when Email Experience Manager receives a request to redirect
                         a page request from an email link to the correct destination page.
                      -->
                    <redirectUrl>
                        <!-- Retrieves the message item associated with the redirect event. -->
                        <processor  type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.GetMessage, Sitecore.EmailCampaign.Cd" resolve="true"/>
                        <!-- Determines whether the link provided in the request is a reference to a page on the local web site. -->
                        <processor type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.CheckInternalLink, Sitecore.EmailCampaign.Cd" resolve="true" />
                        <!-- Constructs the URL to redirect the request to. -->
                        <processor type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.SetRedirectToUrl, Sitecore.EmailCampaign.Cd" resolve="true">
                            <internalCarryoverFields hint="list:AddInternalCarryoverField">
                                <carryoverField type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.CarryoverField, Sitecore.EmailCampaign.Cd">
                                    <param desc="fieldKey" ref="settings/setting[@name='QueryStringKey.MessageId']/@value" />
                                    <param desc="urlPattern">SubscriptionPreferences.ashx|.*ConfirmSubscription.aspx|.*Unsubscribe.aspx|UnsubscribeFromAll.aspx.*|.*sc_pd_view=1.*</param>
                                </carryoverField>
                                <carryoverField type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.CarryoverField, Sitecore.EmailCampaign.Cd">
                                    <param desc="fieldKey" ref="settings/setting[@name='QueryStringKey.AnalyticsContactId']/@value" />
                                    <param desc="urlPattern">SubscriptionPreferences.ashx|.*ConfirmSubscription.aspx|.*Unsubscribe.aspx|UnsubscribeFromAll.aspx.*|.*sc_pd_view=1.*</param>
                                </carryoverField>
                                <carryoverField type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.CarryoverField, Sitecore.EmailCampaign.Cd">
                                    <param desc="fieldKey" ref="settings/setting[@name='QueryStringKey.ContactIdentifierSource']/@value" />
                                    <param desc="urlPattern">SubscriptionPreferences.ashx|.*ConfirmSubscription.aspx|.*Unsubscribe.aspx|UnsubscribeFromAll.aspx.*|.*sc_pd_view=1.*</param>
                                </carryoverField>
                                <carryoverField type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.CarryoverField, Sitecore.EmailCampaign.Cd">
                                    <param desc="fieldKey" ref="settings/setting[@name='QueryStringKey.ContactIdentifierIdentifier']/@value" />
                                    <param desc="urlPattern">SubscriptionPreferences.ashx|.*ConfirmSubscription.aspx|.*Unsubscribe.aspx|UnsubscribeFromAll.aspx.*|.*sc_pd_view=1.*</param>
                                </carryoverField>
                                <carryoverField type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.CarryoverField, Sitecore.EmailCampaign.Cd">
                                    <param desc="fieldKey" ref="settings/setting[@name='QueryStringKey.TargetLanguage']/@value" />
                                    <param desc="urlPattern">SubscriptionPreferences.ashx|.*ConfirmSubscription.aspx|.*Unsubscribe.aspx|UnsubscribeFromAll.aspx.*|.*sc_pd_view=1.*</param>
                                </carryoverField>
                                <carryoverField type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.CarryoverField, Sitecore.EmailCampaign.Cd">
                                    <param desc="fieldKey" ref="settings/setting[@name='QueryStringKey.TestValueIndex']/@value" />
                                    <param desc="urlPattern">SubscriptionPreferences.ashx|.*ConfirmSubscription.aspx|.*Unsubscribe.aspx|UnsubscribeFromAll.aspx.*|.*sc_pd_view=1.*</param>
                                </carryoverField>
                                <carryoverField type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.CarryoverField, Sitecore.EmailCampaign.Cd">
                                    <param desc="fieldKey" ref="settings/setting[@name='QueryStringKey.EmailHistoryEntryId']/@value" />
                                    <param desc="urlPattern">SubscriptionPreferences.ashx|.*ConfirmSubscription.aspx|.*Unsubscribe.aspx|UnsubscribeFromAll.aspx.*|.*sc_pd_view=1.*</param>
                                </carryoverField>
                            </internalCarryoverFields>
                        </processor>
                        <!-- Registers the link click event in emailEventStorage and attaches the result to the pipeline argument. -->
                        <processor type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.RegisterMessageEvent, Sitecore.EmailCampaign.Cd">
                            <param desc="eventStorage" ref="exm/emailEventStorage" />
                            <param desc="duplicateProtectionIntervalSecs"
                                   ref="settings/setting[@name='EXM.DuplicateProtectionInterval']/@value" />
                            <param desc="logger" ref="exmLogger" />
                        </processor>
                        <!-- Identifies the xDB contact related to the event in the xDB tracker. -->
                        <processor type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.IdentifyContact, Sitecore.EmailCampaign.Cd" resolve="true">
                          <param desc="logger" ref="exmLogger" />
                        </processor>
                        <!-- Registers custom page events. Internal page references matching the IgnoredUrlPattern will not add the event. -->
                        <processor type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.RegisterPageEvents, Sitecore.EmailCampaign.Cd" resolve="true">
                            <IgnoredUrlPattern>SubscriptionPreferences.ashx|.*ConfirmSubscription.aspx|.*Unsubscribe.aspx|UnsubscribeFromAll.aspx.*|.*sc_pd_view=1.*</IgnoredUrlPattern>
                        </processor>
                        <!-- Triggers the campaign associated with the email message. -->
                        <processor type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.TriggerCampaign, Sitecore.EmailCampaign.Cd" resolve="true">
                            <IgnoredUrlPattern>SubscriptionPreferences.ashx|.*ConfirmSubscription.aspx|.*Unsubscribe.aspx|UnsubscribeFromAll.aspx.*|.*sc_pd_view=1.*</IgnoredUrlPattern>
                        </processor>
                        <!-- Marks the current session as an email click session. -->
                        <processor type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.MarkAsEmailClickSession, Sitecore.EmailCampaign.Cd" resolve="true"/>
                        <!-- Updates the classification of the identified contact if it is currently greater than a given threshold. -->
                        <processor type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.UpdateContactClassification, Sitecore.EmailCampaign.Cd" resolve="true">
                            <LowerClassificationThreshold>900</LowerClassificationThreshold>
                            <NewClassification>0</NewClassification>
                        </processor>
                        <!-- Resets the email bounce counter of the identified contact to zero. -->
                      <processor type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.ResetContactEmailBounceCount, Sitecore.EmailCampaign.Cd" resolve="true">
                          <!-- See model/entities/contact/facets/facet[@name='XConnectFacets']/@name -->
                          <TrackerXConnectFacetsFacetName>XConnectFacets</TrackerXConnectFacetsFacetName>
                      </processor>
                        <!-- Sets the channel id of the current visit according to the campaign activity associated with the email message. -->
                        <processor type="Sitecore.EmailCampaign.Cd.Pipelines.RedirectUrl.SetVisitChannelId, Sitecore.EmailCampaign.Cd" resolve="true"/>
                    </redirectUrl>
                </pipelines>
            </group>

            <convertToXConnectEvent>
                <processor type="Sitecore.EmailCampaign.Cd.Pipelines.ConvertToXConnectEvent.ConvertPageEventDataToEmailEvent, Sitecore.EmailCampaign.Cd"
                           patch:before="processor[@type='Sitecore.Analytics.XConnect.DataAccess.Pipelines.ConvertToXConnectEventPipeline.ConvertPageDataToPageViewEvent, Sitecore.Analytics.XConnect']" resolve="true" />
            </convertToXConnectEvent>

            <group groupName="exm.sendEmailSubmitAction">
                <pipelines>
                    <!--
                        The create contact pipeline is called by the send email submit actions to create a new contact and save it to the collection database.
                        This pipline populates the email address list facet and the consent information facet according to the values supplied in the form.
                    -->
                    <createContact>
                        <!-- Populates the email address list facet by setting the email address supplied in the form as the preferred email address. -->
                        <processor type="Sitecore.EmailCampaign.Cd.Pipelines.CreateContact.PopulateEmailAddressListFacet, Sitecore.EmailCampaign.Cd">
                          <PreferredEmailAddressKey>Preferred</PreferredEmailAddressKey>
                        </processor>
                        <!-- Populates the consent information facet by setting the do not market according to the value supplied in the consent field. -->
                        <processor type="Sitecore.EmailCampaign.Cd.Pipelines.CreateContact.PopulateConsentInformationFacet, Sitecore.EmailCampaign.Cd" resolve="true"/>
                        <!-- Saves that saves the contact along with the populated facets to the collection database. -->
                        <processor type="Sitecore.EmailCampaign.Cd.Pipelines.CreateContact.Submit, Sitecore.EmailCampaign.Cd" resolve="true"/>
                    </createContact>

                    <!--
                        The transform forms custom token pipeline is called for each custom token that is configured in the send email submit action.
                        Add processors to this pipeline in order to transform the form original value that is resolved from the form field to the desirable form
                        (e.g. traforming the value that is obtained from a CheckBoxListViewModel field from a List<string> to a string).

                        Processors of this pipeline implements the ITransformFormsCustomTokenProcessor interface.
                    -->
                    <transformFormsCustomToken>
                    </transformFormsCustomToken>
                </pipelines>
            </group>

        </pipelines>

        <services>
            <!-- Configurator used by EXM to register required services -->
            <configurator type= "Sitecore.EmailCampaign.Cd.DependencyInjection.CustomServiceConfigurator, Sitecore.EmailCampaign.Cd"/>
        </services>

        <settings>
            <!-- The size of the cache used to track duplicate opens/clicks. -->
            <setting name="EXM.OpenAndClickCache" value="1MB" />
        </settings>
        
        <api>
            <services>
                <configuration>
                    <allowedControllers hint="list:AddController">
                        <allowedController desc="ExmMarketingPreferencesController">Sitecore.EmailCampaign.Cd.Controllers.MarketingPreferencesController, Sitecore.EmailCampaign.Cd</allowedController>
                        <allowedController desc="ExmUnsubscribeController">Sitecore.EmailCampaign.Cd.Controllers.UnsubscribeController, Sitecore.EmailCampaign.Cd</allowedController>
                    </allowedControllers>
                </configuration>
            </services>
        </api>
    </sitecore>
</configuration>
