<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <services>
      <register serviceType="Sitecore.ContentTagging.Core.Configuration.IContentTaggingProvidersConfigurationService, Sitecore.ContentTagging.Core" implementationType="Sitecore.ContentTagging.Core.Configuration.ContentTaggingProvidersConfigurationService, Sitecore.ContentTagging.Core" lifetime="Singleton"/>
      <register serviceType="Sitecore.ContentTagging.Core.Messaging.IMessageBusFactory, Sitecore.ContentTagging.Core" implementationType="Sitecore.ContentTagging.Core.Messaging.MessageBusFactory, Sitecore.ContentTagging.Core" lifetime="Singleton"/>
      <register serviceType="Sitecore.ContentTagging.Core.Factories.IHttpClientFactory, Sitecore.ContentTagging.Core" implementationType="Sitecore.ContentTagging.Core.Factories.HttpClientFactory, Sitecore.ContentTagging.Core" lifetime="Singleton"/>
      <register serviceType="Sitecore.ContentTagging.Core.Factories.IContentTaggingProviderFactory, Sitecore.ContentTagging.Core" implementationType="Sitecore.ContentTagging.Core.Factories.ContentTaggingProviderFactory, Sitecore.ContentTagging.Core" lifetime="Singleton"/>
      <register serviceType="Sitecore.Buckets.Interfaces.ITagRepository, Sitecore.Buckets" implementationType="Sitecore.Buckets.Search.Tags.SitecoreHostedTagRepository, Sitecore.Buckets" lifetime="Singleton"/>
      <register serviceType="Sitecore.ContentTagging.Services.IFieldMap, Sitecore.ContentTagging.Core" implementationType="Sitecore.ContentTagging.Services.DefaultFieldMap, Sitecore.ContentTagging.Core" lifetime="Singleton"/>
    </services>
    <contentTagging>
      <providers>
        <content>
          <add name="DefaultContentProvider" type="Sitecore.ContentTagging.Core.Providers.DefaultContentProvider, Sitecore.ContentTagging.Core" />
        </content>
        <discovery>
          <add name="DefaultDiscoveryProvider" type="Sitecore.ContentTagging.Core.Providers.DummyDiscoveryProvider, Sitecore.ContentTagging.Core" />
        </discovery>
        <tagger>
          <add name="DefaultTagger" type="Sitecore.ContentTagging.Core.Providers.DefaultTagger, Sitecore.ContentTagging.Core" />
        </tagger>
        <taxonomy>
          <add name="DefaultTaxonomyProvider" type="Sitecore.ContentTagging.Core.Providers.DefaultTaxonomyProvider, Sitecore.ContentTagging.Core" />
        </taxonomy>
      </providers>
      <fieldMap>
        <!--
        FieldTypes
          Specifies list of fields type names allowed to be used in tagging process.
        -->
        <fieldTypes>
          <fieldType fieldTypeName="Multi-Line Text"/>
          <fieldType fieldTypeName="Rich Text"/>
        </fieldTypes>
        <!--
        FieldNames
          Specifies list of fields names allowed to be used in tagging process.
        -->
        <fieldNames>
          <field fieldName="Title"/>
        </fieldNames>
      </fieldMap>
    </contentTagging>
  </sitecore>
</configuration>
