<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <settings>
      <setting name="Sitecore.ContentTagging.OpenCalais.CalaisEndpoint" value="https://api.thomsonreuters.com/permid/calais" />
      <setting name="Sitecore.ContentTagging.OpenCalais.CalaisAccessToken" value="" />
      <setting name="Sitecore.ContentTagging.OpenCalais.CalaisLanguage" value="English" />
    </settings>
    <pipelines>
      <group name="ContentTagging" groupName="ContentTagging">
        <pipelines>
          <tagContent>
            <processor patch:before="*[1]" type="Sitecore.ContentTagging.OpenCalais.Pipelines.TagContent.ValidateContent, Sitecore.ContentTagging.OpenCalais" resolve="true" />
          </tagContent>
        </pipelines>
      </group>
    </pipelines>
    <contentTagging>
      <configurations>
        <config name="Default">
          <discovery>
            <provider name="OpenCalaisDiscoveryProvider"/>
          </discovery>
        </config>
      </configurations>
      <providers>
        <discovery>
          <add name="OpenCalaisDiscoveryProvider" type="Sitecore.ContentTagging.OpenCalais.Providers.OpenCalaisDiscoveryProvider, Sitecore.ContentTagging.OpenCalais" />
        </discovery>
      </providers>
      <openCalais>
        <languages>
          <language id="en"/>
        </languages>
      </openCalais>
    </contentTagging>
  </sitecore>
</configuration>
