<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <services>
      <register serviceType="Sitecore.ContentTagging.Configuration.IItemContentTaggingConfigurationService, Sitecore.ContentTagging" implementationType="Sitecore.ContentTagging.Configuration.ItemContentTaggingConfigurationService, Sitecore.ContentTagging" lifetime="Singleton"/>
      <register serviceType="Sitecore.ContentTagging.Configuration.IItemContentTaggingProviderSetBuilder, Sitecore.ContentTagging" implementationType="Sitecore.ContentTagging.Configuration.ItemContentTaggingProviderSetBuilder, Sitecore.ContentTagging" lifetime="Singleton"/>
      <register serviceType="Sitecore.ContentTagging.IContentTaggingRunner, Sitecore.ContentTagging" implementationType="Sitecore.ContentTagging.ContentTaggingRunner, Sitecore.ContentTagging" lifetime="Singleton"/>
      <register serviceType="Sitecore.ContentTagging.IButtonStateProvider, Sitecore.ContentTagging" implementationType="Sitecore.ContentTagging.ButtonStateProvider, Sitecore.ContentTagging" lifetime="Singleton"/>
      <register serviceType="Sitecore.ContentTagging.Services.IItemLanguageService, Sitecore.ContentTagging" implementationType="Sitecore.ContentTagging.Services.ItemLanguageService, Sitecore.ContentTagging" lifetime="Singleton"/>
    </services>
    <settings>
      <setting name="Sitecore.ContentTagging.DefaultConfigurationName" value="Default" />
    </settings>
    <commands>
      <command name="item:tagcontent" type="Sitecore.ContentTagging.Commands.TagContentCommand, Sitecore.ContentTagging"/>
    </commands>
    <pipelines>
      <group name="ContentTagging" groupName="ContentTagging">
        <pipelines>
          <getTaggingConfiguration>
            <processor type="Sitecore.ContentTagging.Pipelines.GetTaggingConfiguration.GetDefaultConfigurationName, Sitecore.ContentTagging" resolve="true" />
            <processor type="Sitecore.ContentTagging.Pipelines.GetTaggingConfiguration.BuildConfiguration, Sitecore.ContentTagging" resolve="true" />
          </getTaggingConfiguration>
          <tagContent>
            <processor type="Sitecore.ContentTagging.Pipelines.TagContent.RetrieveContent, Sitecore.ContentTagging" resolve="true" />
            <processor type="Sitecore.ContentTagging.Pipelines.TagContent.Normalize, Sitecore.ContentTagging" resolve="true" />
            <processor type="Sitecore.ContentTagging.Pipelines.TagContent.GetTags, Sitecore.ContentTagging" resolve="true" />
            <processor type="Sitecore.ContentTagging.Pipelines.TagContent.StoreTags, Sitecore.ContentTagging" resolve="true" />
            <processor type="Sitecore.ContentTagging.Pipelines.TagContent.ApplyTags, Sitecore.ContentTagging" resolve="true" />
          </tagContent>
          <normalizeContent>
            <processor type="Sitecore.ContentTagging.Pipelines.NormalizeContent.StripHtml, Sitecore.ContentTagging" resolve="true" />
          </normalizeContent>
        </pipelines>
      </group>
    </pipelines>
    <contentTagging>
      <configurations>
        <config name="Default">
          <content>
            <provider name="DefaultContentProvider"/>
          </content>
          <tagger>
            <provider name="DefaultTagger"/>
          </tagger>
          <taxonomy>
            <provider name="DefaultTaxonomyProvider"/>
          </taxonomy>
        </config>
      </configurations>
    </contentTagging>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.ContentTagging.TagItem" type="Sitecore.ContentTagging.Requests.TagContentRequest, Sitecore.ContentTagging" />
      <request name="ExperienceEditor.ContentTagging.CanTagItem" type="Sitecore.ContentTagging.Requests.CanTagContentRequest, Sitecore.ContentTagging" />
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>
